
/* TRAZENDO FONTS */
@font-face {
  font-family: Oitobit;
  src: url(../font/8-BIT\ WONDER.TTF);
}

@font-face {
  font-family: Oitobit-txt;
  src: url(../font/superstar_memesbruh03.ttf);
}

@font-face {
  font-family: Oitobit-txt2;
  src: url(../font/superstarorig_memesbruh03.ttf);
}

/* DECLARANDO VARIÁVEIS DAS FONTS */
:root {
  --font-doistexto: 'Oitobittxt2'; 
  --font-titulo: 'Oitobit';
  --font-texto: 'Oitobit-txt'
  
}

/* HEADER */

.navbar-brand{
  font-size: 35px;
}

.botao1 {
    margin-inline-end: 10px;
}
header nav {
    height: 100px;
  }

.navbar {
  background-color: rgba(10, 10, 10, 0.945);
}

/* MAIN */

a{
  color: rgb(255, 255, 255)!important;
  text-decoration: none;
}
/* FOOTER */
h5{
  color: #93F3E8;
  font-family: var(--font-texto)!important;
  font-size: 30px;
}
form h5 {
  font-size: 30px;
  color: #93F3E8!important;
  font-family: var(--font-texto);
}
form p {
  color: #93F3E8!important;
}

.img-shark{
  width: 100vw;
}

.featurette-divider{
  color: whitesmoke;
}

/* h5 {
  font-size: 25px;
}
*/

/* fotos e titulos principais da main */

#titulo-foto {
  font-family: var(--font-titulo);
}

#titulo-shark {
  color: white;
  font-family: var(--font-titulo);
  font-size: 80px;
}

#subtitulo-shark {
  font-family: var(--font-texto);
  font-size: 20px;
}

.nav-item {
  font-size: 20px;
  display: flex;
}


a, p {
  color: #93F3E8;
  font-family: var(--font-texto);
}

h1{
  font-family: var(--font-texto);
  color: #93F3E8;
  font-size: 50px!important;
  text-shadow: 2px 2px 4px black;
}
#pic-logo{
  width: 230px;
  padding-top: 20px;
}

h2, h3, h4, h5, .titulos-submenores {
  color: #93F3E8;
  font-family: var(--font-doistexto);
}

.titulos-menores {
  color: white;
  font-family: var(--font-texto);
}

.fw-normal, .btn {
  font-family: var(--font-texto);
  font-size: 25px;
}
#img {
  width: 500px;
}

#img-dois {
  width: 400px;
  margin-left: 5px;
} 

.we-us{
  display: flex;
  justify-content: center;
  font-family: var(--font-texto);
  font-size: 60px;
  color: white;
}

.profile-man{
  display: flex;
  align-items: center;
}

.sharks-inv{
  display: flex;
 justify-content: space-around;

}

.color-red{
  color: #93F3E8;
}

